@using System.Web.Optimization;
@{
    ViewBag.Title = "Gestión Documento Digital";     
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv='cache-control' content='no-cache' />
    <meta http-equiv='expires' content='0' />
    <meta http-equiv='pragma' content='no-cache' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link type="image/x-icon" rel="icon" href="../../resource/img/favicon.png" />
    <title>@ViewBag.Title</title>
    <style>
        textarea
        {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
        }
    </style>
    @Styles.Render("~/dist/styles.bundle")
    @Scripts.Render("~/dist/scripts.bundle")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
